/******************
Global CSS
******************/
html {
  background: url("../img/karenevansbg.png") #000 no-repeat top left;
  background-size: cover;
  background-position: fixed;
}

body {
  width: 100%;
  font-family: 'Avenir Next Condensed', sans-serif;
}

a {
  text-decoration: none;
  -webkit-transition: all .5s ease; /* Safari and Chrome */
  -moz-transition: all .5s ease; /* Firefox */
  -o-transition: all .5s ease; /* IE 9 */
  -ms-transition: all .5s ease; /* Opera */
  transition: all .5s ease;
}

h1 {
  font-size: 4em;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 2.75em;
  font-weight: 600;
  color: #fff;
  text-align: left;
}

h3 {
  font-size: 1.35em;
  font-weight: 500;
  color: #fff;
  font-style: italic;
  text-align: left;
}

p {
  color: #fff;
  font-weight: 300;
}


/******************
Header
******************/
header {
  width: 100%;
  margin-top: 20%;
}



/******************
Sections
******************/
.container {
  max-width: 72em;
  margin: 0 auto;
}
section {
  margin-top: 4em;
  padding: 1em;
  color: #5c5c5c;
}
section hr {
  border-bottom: none;
  color: #f2f2f2;
}
.info {
  text-align: center;
  float: left;
  margin: 0 1.5%;
  width: 30%;
}

.content {
  text-align: center;
  float: left;
  margin: 7.5% 1.5% 0 1.5%;
  width: 30%;
}







/******************
Homepage Navigation
******************/
#homepage-nav ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#homepage-nav li {
  display: inline-block;
  margin: 0;
  max-width: 200px;
  background-color: #000;
  border: #000 solid 1px;
}

#homepage-nav a {
  display: block;
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: #000 solid 15px;
  border-spacing: 15px;
  background-color: #fff;
  width: 200px;
  height: 100px;
  line-height: 100px;

}

#homepage-nav a:visited {
  color: #fff;
}

#homepage-nav a:hover {
  color: #000;
  border-bottom: #f8b91c solid 15px;
}

#introlink {
  background: url("../img/introbw.jpg");
  background-size: cover;
}

#introlink:hover {
  background: url("../img/introyl.jpg");
  background-size: cover;
}

#resumelink{
  background: url("../img/resumebw.jpg");
  background-size: cover;
}

#resumelink:hover {
  background: url("../img/resumeyl.jpg");
  background-size: cover;
}

#mediationlink{
  background: url("../img/mediationbw.jpg");
  background-size: cover;
}

#mediationlink:hover {
  background: url("../img/mediationyl.jpg");
  background-size: cover;
}

#arbitrationlink{
  background: url("../img/arbitrationbw.jpg");
  background-size: cover;
}

#arbitrationlink:hover {
  background: url("../img/arbitrationyl.jpg");
  background-size: cover;
}

#philosophylink{
  background: url("../img/philosophybw.jpg");
  background-size: cover;
}


#philosophylink:hover {
  background: url("../img/philosophyyl.jpg");
  background-size: cover;
}

#contactlink{
  background: url("../img/contactusbw.jpg");
  background-size: cover;
}

#contactlink:hover {
  background: url("../img/contactusyl.jpg");
  background-size: cover;
}

/**********************
Non-Homepage Navigation
**********************/
#fixednav {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  background: black;
  -webkit-transition: -webkit-transform 0.7s 0.3s ease;
  -moz-transition: -moz-transform 0.7s 0.3s ease;
  -ms-transition: -ms-transform 0.7s 0.3s ease;
  transition: transform 0.7s .3s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
#fixednav.hide-nav-bar {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-backface-visibility: hidden;
}

#menu a {
  font-size: 2em;
  font-weight: 600;
  line-height: .75;
  color: #f8b91c;
}

a.menu-link {
  float: left;
  display: block;
  padding: 1em;
}
nav[role=navigation] {
  clear: right;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0;
}
nav[role=navigation].active {
  max-height: 30em;
}
nav[role=navigation] ul {
  margin: 0;
  padding: 0;
  float: left;
  padding: 0.7em 0;
}
nav[role=navigation] li a {
  display: block;
  padding: 0.8em;
  font-size: 0.9em;
}
.menu-link {
  height: 30px;
  width: 33px;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  margin-top: 3px;
  background: #f8b91c;
  width: 33px;
  height: 4px;
  position: absolute;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
.bar2 {
  margin-top: 13px;
}
.bar3 {
  margin-top: 23px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

/*******************************
If you want header in navigation
*******************************/
.brand {
  float: left;
  margin-left: 1em;
  padding: 1em;
}
.brand h1 {
  margin: 0;
  font-size: 1.5em;
}
